.classpath
.project
.settings
.DS_Store
target
lib_managed
project/boot
project/plugins/project
project/build/target
src_managed
~/Projects/SchoolProjectNov2010/profiles.xml
*.cfg
*.iml
*.ipr
*.iws
*~