body {
    margin: 0;
    padding: 0;
    background: #546E09;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2E2E2E;
}

h1, h2, h3 {
    margin: auto;
    text-transform: uppercase;
    font-weight: normal;
    color: #8CB70E;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 18px;
}

h3 {
}

ul li em {
    color: red;
}

input {
/*padding: 0.15em;*/
    width: 17em;
    height: 22px;
    border: 3px solid #ddd;
    background: #fafafa;
    font: bold 1.0em arial, sans-serif;
    -moz-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;
}

input:hover, input:focus {
    border-color: #c5c5c5;
    background: #f6f6f6;
}

p, ul, ol {
    margin-top: 0;
    line-height: 240%;
    text-align: justify;
}

p h1 {
    color: red;
    text-transform: none;
    margin-bottom: -100px;
}

ul, ol {
}

blockquote {
}

img {
    margin: 0px, 0px, 0px, 0px;
    padding: 0px, 0px, 0px, 0px;
}

a {
    color: #546E09;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 7px 30px 0 0;
}

img.right {
    float: right;
    margin: 7px 0 0 30px;
}

hr {
    display: none;
}

span {
    margin: 30px 0 0 1px;
    text-align: center;
    line-height: normal;
    text-transform: none;
    font-size: 18px;
    font-weight: bolder;
    color: gray;
}

#btn {
    background-color: #360;
    color: white; /*margin-right: 20px;*/
/*margin-top: 25px;*/
/*float: none;*/
    width: 120px;
    height: 29px;
}

.list1 {
}

.list1 li {
    float: left;
    line-height: normal;
}

.list1 li img {
    margin: 0 30px 30px 0;
}

.list1 li.alt img {
    margin-right: 0;
}

#wrapper {
/*background: url(/classpath/images/img02.jpg) repeat-y center top;*/
    background: repeat-y center top;
}

#wrapper-bgtop {
    background: url(/classpath/images/img01.jpg) no-repeat center top;
}

/* Header */

#header-wrapper {
}

#header {
    width: 980px;
    height: 98px;
    margin: 0 auto;
    background: url(/classpath/images/img01.jpg) no-repeat left top;
}

/* Menu */

#menu {
    float: right;
    width: 550px;
    margin-right: 10px;
}

#menu ul {
    float: right;
    margin: 0;
    padding: 50px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu ul img {
    margin: -6px 0 0 10px;

}

#menu li {
    display: block;
    float: left;
    border-right: 1px solid #AFD147;
}

#menu .btnimg {
    border-right: 0px;
}

#menu a {
    display: block;
    float: left;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

#menu a:hover {
    text-decoration: none;
}

#menu .current_page_item a {
}

#menu .last {

    border-right: none;
}

/* Search */

/*#search {*/
/*float: right;*/
/*width: 260px;*/
/*}*/

/*#search form {*/
/*float: right;*/
/*margin: 0;*/
/*padding: 4px 0px 0 0;*/
/*}*/

/*#search fieldset {*/
/*margin: 0;*/
/*padding: 0;*/
/*border: none;*/
/*}*/

/*#search input {*/
/*float: left;*/
/*font: 12px Georgia, "Times New Roman", Times, serif;*/
/*border: none;*/
/*}*/

/*#search-text {*/
/*width: 200px;*/
/*height: 18px;*/
/*padding: 3px 0 0 5px;*/
/*border: 1px solid #333333;*/
/*background: #ECF9E4;*/
/*color: #000000;*/
/*}*/

/*#search-submit {*/
/*height: 21px;*/
/*margin-left: 10px;*/
/*padding: 0px 5px;*/
/*background: #5AA01B;*/
/*color: #FFFFFF;*/
/*}*/

/* Page */

#page {
    width: 940px;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    background: #FFFFFF;
}

/** LOGO */

#logo {
    float: left;
    width: 240px;
    margin: 0 auto;
    padding-left: 140px;
}

#logo h1, #logo p {
    margin: 0px;
    line-height: normal;
    text-transform: none;
    font-weight: normal;
    color: #FFFFFF;
}

#logo p {
    margin-top: -4px;
    text-transform: lowercase;
    font-size: 13px;
    color: #AFD147;
}

#logo h1 {
    padding-top: 10px;
    font-size: 48px;
}

#logo a {
    text-decoration: none;
    color: #AFD147;
}

#logo h1 a {
    text-decoration: none;
    color: #FFFFFF;
}

#banner {
    padding-bottom: 20px;
}

/* Content */
#cont {
    float: left;
    width: 900px;
}

#content {
    float: left;
    width: 600px;
}

#twu {
    color: #a9a9a9;
}

#smallbox {
/*padding: 0.15em;*/
/*float: right;*/
    width: 14em;
    height: 24px;
    border: 3px solid #ddd;
    background: #fafafa;
    font: bold 1.0em arial, sans-serif;
    -moz-border-radius: 0.4em;
    -khtml-border-radius: 0.4em;

}

#smallboxbtn {
    background-color: #360;
    color: white;
    width: 40px;
    height: 29px;
}

#srch {

}

#stxt {
    margin-top: -25px;
    float: right;
}

#kscore {
    float: left;
    font: bold 50px/40px Arial;
    margin: 0 18px 0 0;
    text-align: center
}

#kscore em {
    color: #b1b1b1;
    display: block;
    font: bold 13px Arial
}

#scores {
    width: 900px;
    margin-left: 200px;
    overflow: hidden;

}

#graph {
    width: auto; /*margin-left: 200px;*/
    overflow: hidden;
}

#graph img {
    float: none;
    margin: 15px 0 0 300px;
}

#graph .ometer {
    float: none;
    margin: 15px 0 0 0;
}

/* Post */

.post {
    margin-bottom: 45px; /*	background: url(/classpath/images/img03.jpg) no-repeat right 10px; **/
}

.post .title {
    height: 44px;
    padding-left: 15px;
    color: #8CB70E;
}

.post .title a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 30px;
    color: #8CB70E;
}

.post .date {
}

/*.post .meta {

	background: #000000 url(images/img03_arrow.jpg) no-repeat right top;
	height: 28px;
	padding: 2px 30px 0px 30px;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #FFFFFF;
}*/

#meta {

    background: #546E09 url(/classpath/images/img03_arrow.jpg) no-repeat right top;
    height: 28px;
    padding: 2px 30px 0px 30px;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: white;

}

#meta h2 {
    color: white;
}

.post .meta span {
    display: block;
    margin-top: -10px;
}

.post .meta a {
}

.post .entry {
    padding: 10px 15px;
}

.post .entry ul {
    list-style-type: none;

}

.post .entry a {
    text-decoration: none;

}

.post .entry p {
    margin: 30px 0 0 1px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    color: gray;
}

.post .entry form {

}

.post .links {
    display: block;
    width: 120px;
    height: 18px;
    < p id = "kclass" > < h3 > Klout Classification: < / h margin: 0px;
    padding: 3px 0px 0px 40px;
    background: #546E09;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.post .comments {
    display: block;
    width: 120px;
    height: 18px;
    margin: 0px;
    padding: 3px 0px 0px 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #961A06;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 280px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#sidebar li {
    margin-bottom: 30px;
    padding: 0 0 10px 0px;
}

#sidebar li ul {
    margin: 0px 14px;
}

#sidebar li li {
    margin: 0;
    padding: 12px 0px;
    border-bottom: 1px dashed #ADADAD;
}

#sidebar li li a {
    padding: 0px 0px 0px 0px;
    font-weight: normal;
}

#sidebar li li a:hover {
}

#sidebar p {
    margin: 0;
    padding: 0px 14px;
}

#sidebar h2 {
    height: 30px;
    margin: 0 0 10px 0px;
    padding: 6px 0 2px 14px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
}

#sidebar p {
    line-height: 200%;
}

#sidebar a {
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}

/* Calendar */

#calendar {
}

#calendar caption {
    padding-bottom: 5px;
    font-weight: bold;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #24130F;
    border-left: 1px solid #24130F;
    border-right: 1px solid #24130F;
}

#calendar thead th {
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #24130F;
    border-left: 1px solid #24130F;
    background: #24130F;
}

#calendar tbody td {
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #24130F;
    border-left: 1px solid #24130F;
    border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
    padding: 5px;
    border-left: 1px solid #24130F;
    border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
    border-top: 1px solid #24130F;
    text-align: right;
}

#calendar tfoot #prev {
    border-top: 1px solid #24130F;
}

#calendar .pad {
    border-bottom: 1px solid #24130F;
}

#calendar #today {
    background: #24130F;
}

/* Footer */

#footer {
    width: 980px;
    height: 50px;
    margin: 0 auto 20px auto;
    background: #000000;
}

#footer p {
    margin: 0px;
    padding: 16px 0px 0px 0px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
}

#footer a {
    color: #FFFFFF;
}

#belowfooter {
    width: 980px;
    height: 98px;
    margin: 0 auto;

}

#belowfooter .text {
    text-decoration: none;
}

#belowfooter a {

    font-size: 4.3em;
    color: black;
}

#image {
    padding: 0 0 0 1px;
    width: 200px;
    height: 80px;

}

/**
 styling for tabs begin below

*/

.container {
    width: 920px; /*margin: 2px auto;*/
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}

ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px;
    background: #e0e0e0;
    overflow: hidden;
    position: relative;
}

ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}

ul.tabs li a:hover {
    background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover {
    background: #fff;
    border-bottom: 1px solid #fff;
}

.tab_container {
    border: 1px solid #999;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

.tab_content {
    padding: 20px;
    font-size: 1.2em;
}

.tab_content h2 {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.8em;
}

.tab_content h3 a {
    color: #254588;
}

.tab_content img {
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}

/***
       BADGE AREA

***/
#badgediv {
    width: 920px;
}

#badgediv ul {
    margin-left: 60px;
}

#badgediv li {
    display: inline;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.badge {
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 5px 1px #ddd;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 5px 1px #ddd;
    background: #fff;
    border: 2px solid #a9a4a6;
    display: block;
    line-height: 1;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    width: 125px;
    z-index: 10
}

.thin
.badge {
    margin-right: 10px;
    width: 90px
}

.badge:hover, .badge.hovered {
}

.badge:hover .username, .badge.hovered
.username {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-bottom-left: 4px;
    -webkit-border-bottom-right: 4px;
    background: #360;
    color: #fff
}

.badge:hover
.score {
}

.badge:hover .thumb, .badge.hovered
.thumb {
    background: #360;
    color: #fff
}

.badge
.thumb {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    min-height: 73px;
    position: relative
}

.badge .thumb
img {
    border: 1px solid #fff;
    height: 73px;
    width: 73px
}

.badge
div {
    padding: 5px 15px
}

.thin .thumb
img {
    height: 50px;
    margin-top: 3px;
    width: 50px
}

.badge
.tag {
    color: #797979;
    font-size: 12px
}

.badge
.username {
    color: #9b9b9b;
    font-size: 11px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 5px 0;
    text-transform: uppercase
}

.badge
.score {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    background: #eee;
    background-image: -moz-linear-gradient(80% 80% 90deg, #fff, #eee);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, #fff), color-stop(0.65, #eee));
    color: #3c3136;
    font-size: 24px;
    font-weight: bold;
    margin: 0 1px
}

.badge
.score img {

    margin-right: 5px;
}

.thin
.score {
    font-size: 18px;
    line-height: 16px
}

#influencer {
    width: auto;
}

#influencer ul {
    width: auto;
    height: 60px;
    margin-bottom: 40px;
}

#influencer li {
    display: inline;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

#influencer a {
    text-decoration: none;
}

#influencer img {
    margin-right: 5px;
}

#kclass {
    margin-top: 0px;
    padding-top: 0px;
}

